.registration {
	padding-top: 120px;
	padding-bottom: 150px;

	background-image: url("/earth.png");
	background-color: #272733;

	.title {
		color: white;
		display: inline-block;
		width: 100%;
		text-align: center;
	}
	.description {
		text-align: center;
		color: white;
        display: block;
        margin-top: 30px;
        margin-bottom: 80px;
	}
}
